.recipes{ 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 25px;
    background-color: rgb(136, 114, 32);
    font-weight: bolder;  
    border: 0ch;
    display: block;
    margin: 20px;
}

a{ 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
}

h1{
    font-family: Arial, Helvetica, sans-serif;
     color: white; 
     text-align: center; 
     background-color:rgba(211, 179, 62, 0.74);
     width: 562px;
     padding: 6px 0 6px 0;
}

#img{
    height: 150px; 
    width: auto; 
    margin: auto; 
    float: right;  
}

body{box-sizing: border-box; 
    background-color: rgb(255, 255, 255); 
    width: 562px;
}

